@model BrAcademy.Data.Event

@{
    ViewData["Title"] = "Create Event";
}
<div class="container-lg">
    <h1>@ViewBag.CourseName</h1>

    <h4>Create Event</h4>
    <hr />
    
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Create">

                <input type="hidden" name="CourseId" value="@ViewBag.CourseId" />
                <div class="form-group">
                    <label asp-for="Description" class="control-label"></label>
                    <input asp-for="Description" class="form-control" />

                </div>
                <div class="form-group">
                    <label asp-for="StartDate" class="control-label"></label>
                    <input type="text" asp-for="StartDate" autocomplete="off" class="form-control" />
                    <span asp-validation-for="StartDate" class="text-danger"></span>
                </div>
                <div class="form-group form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" asp-for="DisplayShortenedDate" /> @Html.DisplayNameFor(model => model.DisplayShortenedDate)
                    </label>
                </div>
                <div class="form-group">
                    <label asp-for="EndDate" class="control-label"></label>
                    <input type="text" asp-for="EndDate" autocomplete="off" class="form-control" />
                    <span asp-validation-for="EndDate" class="text-danger"></span>
                </div>
                @*<div class="form-group">
            <label asp-for="StartTime" class="control-label"></label>
            <input asp-for="StartTime" class="form-control" />
            <span asp-validation-for="StartTime" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="EndTime" class="control-label"></label>
            <input asp-for="EndTime" class="form-control" />
            <span asp-validation-for="EndTime" class="text-danger"></span>
        </div>*@
                <div class="form-group">
                    <label asp-for="CountryID" class="control-label"></label>
                    <select asp-for="CountryID" class="form-control2" asp-items="ViewBag.Countries">
                        <option>Select</option>
                    </select>
                </div>
                <div class="form-group form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" asp-for="HomePage" /> @Html.DisplayNameFor(model => model.HomePage)
                    </label>
                </div>
                <hr />
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="CourseEvents" asp-route-Id="@ViewBag.CourseId">Back to List</a>
    </div>

</div>
@section Scripts{
    <script type="text/javascript">
        $("#StartDate,#EndDate").datepicker();

    </script>
}