@*@inject SignInManager<IdentityUser> SignInManager
    @inject UserManager<IdentityUser> UserManager*@
@model BrAcademy.Models.Courses.CourseDetailsVM

@{
    ViewData["Title"] = Model.Course.CourseName;
}

<style type="text/css">
    .hyperCategory > div:hover {
        background-color: #982c68;
        transition: 0.2s ease-in-out;
    }

    .hyperCategory:hover h5 {
        color: white !important;
        transition: 0.2s ease-in-out;
    }

    .hyperCategory img {
        opacity: 0.8 !important;
    }

    .hyperCategory:hover img {
        opacity: 1 !important;
    }

    .ui-menu-item, ui-menu-item div {
        text-align: right;
    }
</style>


<div class="bg-gray">
    <div hidden="" id="sprite-plyr"><!--?xml version="1.0" encoding="UTF-8"?--><svg xmlns="http://www.w3.org/2000/svg"><symbol id="plyr-airplay"><path d="M16 1H2a1 1 0 0 0-1 1v10a1 1 0 0 0 1 1h3v-2H3V3h12v8h-2v2h3a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1z"></path><path d="M4 17h10l-5-6z"></path></symbol><symbol id="plyr-captions-off"><path d="M1 1c-.6 0-1 .4-1 1v11c0 .6.4 1 1 1h4.6l2.7 2.7c.2.2.4.3.7.3.3 0 .5-.1.7-.3l2.7-2.7H17c.6 0 1-.4 1-1V2c0-.6-.4-1-1-1H1zm4.52 10.15c1.99 0 3.01-1.32 3.28-2.41l-1.29-.39c-.19.66-.78 1.45-1.99 1.45-1.14 0-2.2-.83-2.2-2.34 0-1.61 1.12-2.37 2.18-2.37 1.23 0 1.78.75 1.95 1.43l1.3-.41C8.47 4.96 7.46 3.76 5.5 3.76c-1.9 0-3.61 1.44-3.61 3.7 0 2.26 1.65 3.69 3.63 3.69zm7.57 0c1.99 0 3.01-1.32 3.28-2.41l-1.29-.39c-.19.66-.78 1.45-1.99 1.45-1.14 0-2.2-.83-2.2-2.34 0-1.61 1.12-2.37 2.18-2.37 1.23 0 1.78.75 1.95 1.43l1.3-.41c-.28-1.15-1.29-2.35-3.25-2.35-1.9 0-3.61 1.44-3.61 3.7 0 2.26 1.65 3.69 3.63 3.69z" fill-rule="evenodd" fill-opacity=".5"></path></symbol><symbol id="plyr-captions-on"><path d="M1 1c-.6 0-1 .4-1 1v11c0 .6.4 1 1 1h4.6l2.7 2.7c.2.2.4.3.7.3.3 0 .5-.1.7-.3l2.7-2.7H17c.6 0 1-.4 1-1V2c0-.6-.4-1-1-1H1zm4.52 10.15c1.99 0 3.01-1.32 3.28-2.41l-1.29-.39c-.19.66-.78 1.45-1.99 1.45-1.14 0-2.2-.83-2.2-2.34 0-1.61 1.12-2.37 2.18-2.37 1.23 0 1.78.75 1.95 1.43l1.3-.41C8.47 4.96 7.46 3.76 5.5 3.76c-1.9 0-3.61 1.44-3.61 3.7 0 2.26 1.65 3.69 3.63 3.69zm7.57 0c1.99 0 3.01-1.32 3.28-2.41l-1.29-.39c-.19.66-.78 1.45-1.99 1.45-1.14 0-2.2-.83-2.2-2.34 0-1.61 1.12-2.37 2.18-2.37 1.23 0 1.78.75 1.95 1.43l1.3-.41c-.28-1.15-1.29-2.35-3.25-2.35-1.9 0-3.61 1.44-3.61 3.7 0 2.26 1.65 3.69 3.63 3.69z" fill-rule="evenodd"></path></symbol><symbol id="plyr-download"><path d="M9 13c.3 0 .5-.1.7-.3L15.4 7 14 5.6l-4 4V1H8v8.6l-4-4L2.6 7l5.7 5.7c.2.2.4.3.7.3zM2 15h14v2H2z"></path></symbol><symbol id="plyr-enter-fullscreen"><path d="M10 3h3.6l-4 4L11 8.4l4-4V8h2V1h-7zM7 9.6l-4 4V10H1v7h7v-2H4.4l4-4z"></path></symbol><symbol id="plyr-exit-fullscreen"><path d="M1 12h3.6l-4 4L2 17.4l4-4V17h2v-7H1zM16 .6l-4 4V1h-2v7h7V6h-3.6l4-4z"></path></symbol><symbol id="plyr-fast-forward"><path d="M7.875 7.171L0 1v16l7.875-6.171V17L18 9 7.875 1z"></path></symbol><symbol id="plyr-logo-vimeo"><path d="M17 5.3c-.1 1.6-1.2 3.7-3.3 6.4-2.2 2.8-4 4.2-5.5 4.2-.9 0-1.7-.9-2.4-2.6C5 10.9 4.4 6 3 6c-.1 0-.5.3-1.2.8l-.8-1c.8-.7 3.5-3.4 4.7-3.5 1.2-.1 2 .7 2.3 2.5.3 2 .8 6.1 1.8 6.1.9 0 2.5-3.4 2.6-4 .1-.9-.3-1.9-2.3-1.1.8-2.6 2.3-3.8 4.5-3.8 1.7.1 2.5 1.2 2.4 3.3z"></path></symbol><symbol id="plyr-logo-youtube"><path d="M16.8 5.8c-.2-1.3-.8-2.2-2.2-2.4C12.4 3 9 3 9 3s-3.4 0-5.6.4C2 3.6 1.3 4.5 1.2 5.8 1 7.1 1 9 1 9s0 1.9.2 3.2c.2 1.3.8 2.2 2.2 2.4C5.6 15 9 15 9 15s3.4 0 5.6-.4c1.4-.3 2-1.1 2.2-2.4.2-1.3.2-3.2.2-3.2s0-1.9-.2-3.2zM7 12V6l5 3-5 3z"></path></symbol><symbol id="plyr-muted"><path d="M12.4 12.5l2.1-2.1 2.1 2.1 1.4-1.4L15.9 9 18 6.9l-1.4-1.4-2.1 2.1-2.1-2.1L11 6.9 13.1 9 11 11.1zM3.786 6.008H.714C.286 6.008 0 6.31 0 6.76v4.512c0 .452.286.752.714.752h3.072l4.071 3.858c.5.3 1.143 0 1.143-.602V2.752c0-.601-.643-.977-1.143-.601L3.786 6.008z"></path></symbol><symbol id="plyr-pause"><path d="M6 1H3c-.6 0-1 .4-1 1v14c0 .6.4 1 1 1h3c.6 0 1-.4 1-1V2c0-.6-.4-1-1-1zM12 1c-.6 0-1 .4-1 1v14c0 .6.4 1 1 1h3c.6 0 1-.4 1-1V2c0-.6-.4-1-1-1h-3z"></path></symbol><symbol id="plyr-pip"><path d="M13.293 3.293L7.022 9.564l1.414 1.414 6.271-6.271L17 7V1h-6z"></path><path d="M13 15H3V5h5V3H2a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-6h-2v5z"></path></symbol><symbol id="plyr-play"><path d="M15.562 8.1L3.87.225C3.052-.337 2 .225 2 1.125v15.75c0 .9 1.052 1.462 1.87.9L15.563 9.9c.584-.45.584-1.35 0-1.8z"></path></symbol><symbol id="plyr-restart"><path d="M9.7 1.2l.7 6.4 2.1-2.1c1.9 1.9 1.9 5.1 0 7-.9 1-2.2 1.5-3.5 1.5-1.3 0-2.6-.5-3.5-1.5-1.9-1.9-1.9-5.1 0-7 .6-.6 1.4-1.1 2.3-1.3l-.6-1.9C6 2.6 4.9 3.2 4 4.1 1.3 6.8 1.3 11.2 4 14c1.3 1.3 3.1 2 4.9 2 1.9 0 3.6-.7 4.9-2 2.7-2.7 2.7-7.1 0-9.9L16 1.9l-6.3-.7z"></path></symbol><symbol id="plyr-rewind"><path d="M10.125 1L0 9l10.125 8v-6.171L18 17V1l-7.875 6.171z"></path></symbol><symbol id="plyr-settings"><path d="M16.135 7.784a2 2 0 0 1-1.23-2.969c.322-.536.225-.998-.094-1.316l-.31-.31c-.318-.318-.78-.415-1.316-.094a2 2 0 0 1-2.969-1.23C10.065 1.258 9.669 1 9.219 1h-.438c-.45 0-.845.258-.997.865a2 2 0 0 1-2.969 1.23c-.536-.322-.999-.225-1.317.093l-.31.31c-.318.318-.415.781-.093 1.317a2 2 0 0 1-1.23 2.969C1.26 7.935 1 8.33 1 8.781v.438c0 .45.258.845.865.997a2 2 0 0 1 1.23 2.969c-.322.536-.225.998.094 1.316l.31.31c.319.319.782.415 1.316.094a2 2 0 0 1 2.969 1.23c.151.607.547.865.997.865h.438c.45 0 .845-.258.997-.865a2 2 0 0 1 2.969-1.23c.535.321.997.225 1.316-.094l.31-.31c.318-.318.415-.781.094-1.316a2 2 0 0 1 1.23-2.969c.607-.151.865-.547.865-.997v-.438c0-.451-.26-.846-.865-.997zM9 12a3 3 0 1 1 0-6 3 3 0 0 1 0 6z"></path></symbol><symbol id="plyr-volume"><path d="M15.6 3.3c-.4-.4-1-.4-1.4 0-.4.4-.4 1 0 1.4C15.4 5.9 16 7.4 16 9c0 1.6-.6 3.1-1.8 4.3-.4.4-.4 1 0 1.4.2.2.5.3.7.3.3 0 .5-.1.7-.3C17.1 13.2 18 11.2 18 9s-.9-4.2-2.4-5.7z"></path><path d="M11.282 5.282a.909.909 0 0 0 0 1.316c.735.735.995 1.458.995 2.402 0 .936-.425 1.917-.995 2.487a.909.909 0 0 0 0 1.316c.145.145.636.262 1.018.156a.725.725 0 0 0 .298-.156C13.773 11.733 14.13 10.16 14.13 9c0-.17-.002-.34-.011-.51-.053-.992-.319-2.005-1.522-3.208a.909.909 0 0 0-1.316 0zM3.786 6.008H.714C.286 6.008 0 6.31 0 6.76v4.512c0 .452.286.752.714.752h3.072l4.071 3.858c.5.3 1.143 0 1.143-.602V2.752c0-.601-.643-.977-1.143-.601L3.786 6.008z"></path></symbol></svg></div>
    <input type="hidden" id="hiddenCourseId" value="@Model.Course.Id" />
    <section class="course-header-area">
        <div class="container">
            <div class="row align-items-end">
                <div class="col-lg-4"></div><div class="col-lg-8" style="direction: rtl;">
                    <div class="course-header-wrap">
                        <h1 class="title">
                            @Model.Course.CourseName
                            @if (User.IsInRole("Admin"))
                            {
                                <a href="~/Courses/Edit/@Model.Course.Id?ReturnToCoursePage=true"><i class="fa fa-edit"></i></a>
                            }
                        </h1>
                        @if (Model.Course.Code != null)
                        {
                            <div>
                                كود الدورة:
                                @Model.Course.Code
                            </div>
                        }


                        <div class="rating-row">

                            <img src="~/images/Stars/@(String.Format("{0:0.0}",Model.Course.Review)).png" style="width:81px" />
                            <span>(@Model.Course.CountReviewers  Reviews)</span>

                            <span class="comment"><i class="fas fa-comment"></i>الدورة باللغة العربية</span>
                        </div>

                        @if (Model.Course.Duration1 != null || Model.Course.Duration2 != null)
                        {
                            <div class="created-row">

                                <i class="far fa-list-alt text-14px"></i>
                                <span class="text-12px" style="margin-right: 5px;">
                                    @Model.Course.Duration1
                                    @if (Model.Course.Duration2 != null)
                                    {<span>(@Model.Course.Duration2)</span>}
                                    
                                </span>
                                <br>
                                @functions {
                                    public static string FlagPath(string path)
                                    {
                                        return path.Replace("~/", "../../");
                                    }

                                }


                            </div>
                        }


                    </div>
                </div>

            </div>
        </div>
    </section>

    <section class="course-content-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <div class="course-sidebar natural" style="top: auto; z-index: 8;@(Model.Course.CourseImageUrl == null?"margin-top:25px":"")">
                        <div class="preview-video-box">
                            <a data-bs-toggle="modal">
                                @if (@Model.Course.CourseImageUrl != null)
                                {
                                    <img src="~/images/Courses/@Model.Course.CourseImageUrl" alt="@Model.Course.CourseName" class="w-100">
                                }

                            </a>
                        </div>
                        <div class="course-sidebar-text-box">

                            <!-- WISHLIST BUTTON -->
                            <div class="buy-btns">
                                <a class="btn btn-add-wishlist" id="btnNotify" data-bs-toggle="modal" data-bs-target="#modalBtnNotify">

                                    <i class="@(Model.Events.Count==0?"fa fa-clock":"fa fa-comments")" style="margin: 0 7px;font-size: 20px;"></i>
                                    @if (Model.Events.Count == 0)
                                    {
                                        <span> التنبيه بأقرب موعد للإنعقاد</span>
                                    }
                                    else
                                    {
                                        <span> تواصل معنا بخصوص الدورة</span>
                                    }

                                </a>
                            </div>

                            <div class="buy-btns">

                            </div>


                        </div>
                    </div>
                </div>
                <div class="col-lg-8 radius-10 mt-4 bg-white p-30-40" style="direction: rtl;">
                    @if (Model.Course.Description != null)
                    {
                        <div class="description-box view-more-parent expanded" style="padding-bottom:10px; border-bottom:1px solid lightgray;margin-bottom:25px;direction:@Model.Course.DescriptionDirection">

                            @Html.Raw(Model.Course.Description)
                        </div>
                    }
                    @if (Model.Events.Count > 0)
                    {
                        <table class="table table-bordered table-striped">
                            <thead>
                                <tr style="background-color:dimgray;color:white">
                                    <th>التاريخ</th>
                                    <th>محل الانعقاد</th>
                                    <th>ملاحظات</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (BrAcademy.Data.Event ev in Model.Events)
                                {


                                    <tr>
                                        <td>
                                            @if (ev.DisplayShortenedDate)
                                            {
                                                <span style="margin-right:12px"> @BrAcademy.Data.TransferDate.ToArabicDateShortened(ev.StartDate)</span>
                                            }
                                            else
                                            {
                                                @BrAcademy.Data.TransferDate.ToArabicDate(ev.StartDate)
                                            }
                                        </td>
                                        <td>
                                            <img src="@FlagPath(ev.Country.FlagURL)" style="height:20px;" />
                                            @ev.Country.CountryNameEnglish
                                        </td>
                                        <td>
                                            @if (ev.Description != null)
                                            {
                                                <span> @ev.Description</span>
                                            }
                                            else
                                            {
                                                <span>
                                                    ----------------------
                                                </span>
                                            }
                                        </td>

                                    </tr>
                                }
                            </tbody>
                        </table>

                    }

                    @if (Model.RelatedCourses.Count > 0)
                    {
                        <div>
                            <div style="background-color: #444444; direction: rtl; color: white; height: 50px; padding: 8px;">
                                <h4>دورات ذات صلة</h4>
                            </div>
                            <div class="row" style="direction:rtl">
                                @foreach (BrAcademy.Data.Course RelCourse in Model.RelatedCourses)
                                {
                                <div class="col-12 col-sm-6">
                                    <a asp-action="CourseDetails" asp-route-id="@RelCourse.Id" asp-controller="Courses" style="vertical-align:top">
                                        <div  style="padding:5px;display:inline-block" class="hyperCategory">
                                            <div class="divRelCourse" style="border:1px solid lightgray;border-radius:5px;padding:5px">
                                                <div class="divCourseText" style="display: inline-block; @(RelCourse.CourseImageUrl!=null?"width: 67%":"width:100%"); color: #4e4e4e">
                                                    <h5>
                                                        @RelCourse.CourseName
                                                    </h5>

                                                </div>
                                                @if (RelCourse.CourseImageUrl != null)
                                                {
                                                    <div class="divCourseimage" style="display:inline-block;width:30%;padding:5px;vertical-align:top">
                                                        <div style="border:1px solid lightgray;padding:3px">
                                                            <img src="~/images/Courses/@RelCourse.CourseImageUrl" alt="@RelCourse.CourseName" style="width:100%" />
                                                        </div>

                                                    </div>
                                                }


                                            </div>
                                        </div>
                                    </a>
                                </div>
                                }
                            </div>
                        </div>
                    }




                </div>




            </div>
        </div>
    </section>

    <!-- Modal -->
    <div class="modal fade" id="modalBtnNotify" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                    <a id="btnClose" style="cursor:pointer">
                        <span aria-hidden="true">&times;</span>
                    </a>
                </div>
                <div class="modal-body" dir="rtl" id="divUserData">
                    <div class="form-group">
                        <label class="control-label">الاسم بالكامل*</label>
                        <input id="Name" type="text" name="Name" class="form-control" />

                    </div>
                    <div class="form-group">
                        <label class="control-label">رقم الهاتف*</label>
                        <input type="tel" id="PhoneNumber" class="form-control" placeholder="شاملا كود الدولة" />

                    </div>
                    <div class="form-group">
                        <label class="control-label">البريد الإلكتروني*</label>
                        <input id="Email" type="email" class="form-control" />

                    </div>
                    <div class="form-group">
                        <label class="control-label">جهة العمل*</label>
                        <input id="WorksAt" type="text" class="form-control" />

                    </div>
                    <div class="form-group">
                        <label class="control-label">هل لديك استفسار؟</label>
                        <textarea id="Question" style="width:100%" class="form-control"></textarea>

                    </div>
                    <input type="hidden" id="hiddenVisitorId" value="0" />
                </div>
                <div class="modal-footer">
                    <button id="btnClose2" type="button" class="btn btn-secondary" data-dismiss="modal">إلغاء</button>
                    <button type="button" class="btn btn-primary" id="btnSendData">إرسال</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal -->

    <style media="screen">
        .embed-responsive-16by9::before {
            padding-top: 0px;
        }
    </style>
    <footer class="footer-area d-print-none bg-gray mt-5">
        <div class="container-xl">

        </div>
        <section class="border-top">
        </section>
    </footer>

</div>
@section Scripts{

    <script src="~/assets/js/vendor/modernizr-3.5.0.min.js"></script>
    <script src="~/assets/js/vendor/jquery-3.2.1.min.js"></script>
    <script src="~/assets/js/popper.min.js"></script>
    <script src="~/assets/js/bootstrap.min.js"></script>

    <script src="~/assets/js/slick.min.js"></script>
    <script src="~/assets/js/jquery.webui-popover.min.js"></script>

    <script src="~/assets/js/main.js"></script>
    <script src="~/assets/js/jquery.form.min.js"></script>
    <script src="~/lib/jquery.cookie.js"></script>
    <script type="text/javascript">
        $(function () {
            $('[data-bs-toggle="tooltip"]').tooltip();
        });
    </script>

    <script type="text/javascript">
        $(function () {
            var URL = 'https://extreme-ip-lookup.com/json/?key=d4vbtcnOMkQ5us9s3qpL';
            var userData = "";
            $.getJSON(URL, function (data) {
                userData = data;
                console.log(userData);
            });
            $("#btnNotify").click(function () {
                $("#modalBtnNotify").modal({ keyboard: false, backdrop: "static" });
            });
            $("#btnClose,#btnClose2").click(function () {
                $("#modalBtnNotify").modal("hide");
            });
            if (parseInt($.cookie("Id")) > 0) {
                $("#hiddenVisitorId").val($.cookie("Id"));
                console.log($.cookie("Id"));
                $.get("../../Courses/GetUserData", { VisitorId: $("#hiddenVisitorId").val() }, function (Visitor) {
                    var v = $.parseJSON(Visitor);
                    $("#Name").val(v.Name);
                    $("#PhoneNumber").val(v.PhoneNumber);
                    $("#Email").val(v.Email);
                    $("#WorksAt").val(v.WorksAt);
                });
            }
            $("#btnSendData").click(function () {

                var Ccode = userData.countryCode;
                ValidateEmpty("#Name", "Full Name");
                ValidateEmpty("#PhoneNumber", "Phone Number");
                ValidateEmpty("#Email", "Email");
                ValidateEmpty("#WorksAt", "Works at");
                PleaseWait("show");
                if ($('#divUserData').find('.validator').length > 0) {
                    return false;
                }
                $.post("../../Courses/SaveUserData", {
                    VisitorId: $("#hiddenVisitorId").val(), CourseId: $("#hiddenCourseId").val(),
                    CountryCode: Ccode, Name: $("#Name").val(), PhoneNumber: $("#PhoneNumber").val(), Email: $("#Email").val(),
                    WorksAt: $("#WorksAt").val(), Question: $("#Question").val()
                }, function (VisitorId) {
                    $.cookie("Id", VisitorId);
                    alert("Your Message has been sent successfully and we will contact you soon!");
                    PleaseWait("hide");
                    $("#modalBtnNotify").modal("hide");
                });
            });
        });
        function isTouchDevice() {
            return "ontouchstart" in window || navigator.maxTouchPoints > 0 || navigator.msMaxTouchPoints > 0;
        }

        function viewMore(element, visibility) {
            if (visibility == "hide") {
                $(element).parent(".view-more-parent").addClass("expanded");
                $(element).remove();
            } else if ($(element).hasClass("view-more")) {
                $(element).parent(".view-more-parent").addClass("expanded has-hide");
                $(element).removeClass("view-more").addClass("view-less").html("- View less");
            } else if ($(element).hasClass("view-less")) {
                $(element).parent(".view-more-parent").removeClass("expanded has-hide");
                $(element).removeClass("view-less").addClass("view-more").html("+ View more");
            }
        }

        //Event call after loading page
        document.addEventListener(
            "DOMContentLoaded",
            function () {
                setTimeout(function () {
                    $(".animated-loader").hide();
                    $(".shown-after-loading").show();
                });
            },
            false
        );


    </script>
}








