@model BrAcademy.Data.Carousel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>CarouselVM</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Active)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Active)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SortIndex)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SortIndex)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CustomText)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CustomText)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CustomUrl)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CustomUrl)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CustomImageUrl)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CustomImageUrl)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CourseId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CourseId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CategoryId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CategoryId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
