@model IEnumerable<BrAcademy.Data.OwlCarousel>
@inject BrAcademy.Data.ApplicationDbContext db
@{
    ViewData["Title"] = "Index";
}
<style type="text/css">
    .divImage {
        width: 100px;
        height: 50px;
        overflow: hidden;
    }

        .divImage img {
            width: 100%;
        }

        .divImage:hover {
            width: 220px;
            overflow: visible;
            transition: 0.2s ease-in-out;
        }
</style>
<div class="container">
    <h3>OWL</h3>

    <p>
        <a asp-action="Create">Create New</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th></th>
                <th>
                    @Html.DisplayNameFor(model => model.SortIndex)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Active)
                </th>

                <th>
                    Text
                </th>
                <th>
                    Url
                </th>
                <th style="width:230px">
                    Image
                </th>
                <th style="width:230px">
                    Category
                </th>
                <th style="width:230px">
                    Course
                </th>

                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr data-id="@item.Id">
                    <td>
                        <i class="fa fa-sort" style="cursor:grab"></i>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SortIndex)
                    </td>
                    <td>
                        <a class="hyperSwitchActive" style="cursor:pointer">  <i class="@(item.Active?"fa fa-check text-success":"fa fa-times text-danger")"></i></a>
                    </td>

                    <td>
                        <span class="shorten">@item.CustomText</span>
                    </td>
                    <td>
                       
                        <a class="shorten" href="@item.CustomUrl">@item.CustomUrl</a>
                    </td>
                    <td>
                        @if (@item.CustomImageUrl != null)
                        {
                            <div class="divImage" style="z-index:@(5000-@item.Id)">
                                <img asp-append-version="true" src="~/images/OwlCarousels/@item.CustomImageUrl" />
                            </div>
                        }

                    </td>
                    <td>
                        @if (@item.CategoryId != null)
                        {
                        <div>
                            <a class="shorten">
                                @BrAcademy.Data.AppCodes.CategoryNameById(db, (int)item.CategoryId)
                            </a>
                            
                        </div>
                            <div class="divImage">
                                <img asp-append-version="true" src="~/images/Categories/@BrAcademy.Data.AppCodes.GetCategoryImage(db,(int) item.CategoryId)" />
                            </div>
                        }
                    </td>
                    <td>
                        @if (@item.CourseId != null)
                        {
                            <a class="shorten" href="~/Courses/CourseDetails/@item.CourseId">
                                @BrAcademy.Data.AppCodes.CourseNameById(db, (int)item.CourseId)
                            </a>
                            <div class="divImage">
                                <img asp-append-version="true" src="~/images/Courses/@BrAcademy.Data.AppCodes.GetCourseImage(db,(int) item.CourseId)" />
                            </div>
                        }
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id"><i class="fa fa-edit text-primary"></i></a> |

                        <a asp-action="Delete" asp-route-id="@item.Id"><i class="fa fa-trash text-danger"></i></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
@section Scripts{ 
<script type="text/javascript">
    shortenTextAdvanced(".shorten", 20);
    $(".table").sortable({
        update: function (event, ui) {
            var orderList = "";
            $(".table>tbody>tr").each(function () {
                orderList += `${$(this).attr("data-id")},`;

            });
            orderList = orderList.substr(0, orderList.length - 1);
            console.log(`OrderList=${orderList}`);
            $.post("../../Owl/OrderCarouselsList", { CarouselsList: orderList }, function () {

            });
        },
        cursor: "move",
        items: "tr",
        handle: ".fa-sort",
        axis: "y"
    }
    );
    $(".hyperSwitchActive").click(function () {
        var $this = $(this);
        PleaseWait("show");
        $.post("../../Owl/SwitchActive", { id: $(this).closest("tr").attr("data-id") }, function () {
            $this.find("i").toggleClass("fa-check").toggleClass("fa-times").toggleClass("text-danger").toggleClass("text-success");
            PleaseWait("hide");
        });
    });
</script>
}
